@import '../../../variables/Variables/Variables.module.scss';
@import '../../../mixins/Mixins/Mixins.module.scss';
.QuizView {
    @include w(320px);
    @include p(10px);
    @include raduis(10px);
    background-color: $component;

    .QuizView_Header{
        @include D-Flex-SpaceBetween;
        h3{
            color: $white;
            @include fz(80%);
            font-weight: bold;
            margin-right: 5px;


        }
    }
    .QuizView_Number_Question{
        p{
            color: $purpel_2;
            @include fz(80%);
            @include mt(10px);
            
        }
    }
    .QuizView_Body{
        @include maxh(185px);
    
        overflow-x: hidden;
        overflow-y: scroll;
        @include pr(10px);
        
        .Body_ProgressBar{
            @include D-Flex-columns;
            p{
                @include mb(10px);
                @include mt(10px);
                color: $gray;
            }
        }
    }
    .QuizView_Body::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: invisible;

    }
    .QuizView_Body::-webkit-scrollbar{
        width: 5px;
        background-color: invisible;
    }
    .QuizView_Body::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: rgb(98, 98, 98);
        
    }
    .Footer{
       
        .Footer_Container_Flex{
            @include D-Flex-SpaceBetween;
            
            @include mt(30px);
            .Footer_Content_Right{
                @include D-Flex-Align;
                .Footer_Right_Avatar{
                    @include mr(10px);
                    img{
                        min-width: 50px;
                        min-height: 50px;
                        max-width: 50px;
                        max-height: 50px;
                    }
                }
                .Footer_Right_IdentityAndDate{
                    h4{
                        color: $white;
                        font-weight: bold;

                    }
                    p{
                        color: $gray;
                        @include fz(80%);

                    }
                }
            }
            .Footer_Content_Left{
                @include mt(10px)
            }
        }
    }
}