.ButtonFixedRigth {
    position: fixed;
        bottom: 0;
        right: 0;
        margin: 1rem;
        z-index: 1000;
        cursor: pointer;
        border-radius: 50%;
        transition: .2s;

        &:hover{
            transform: scale(1.1);
            transition: .2s;
        }
        
}