@import '../../../mixins/Mixins/Mixins.module.scss';
@import '../../../variables/Variables/Variables.module.scss';


.ListeQuiz {
    @include p(10px);
    @include D-Flex-Center-Colums;

    .ListeQuiz_Search{
        @include w(100%);
        @media screen and (min-width: $screen-lg) {
            @include w($screen-lg);
            @include p(20px);
        
            
        }

    }
    .ListeQuiz_Filter1{
        @include grid-columns(2);
        justify-items: center;
        row-gap: 10px;
        @include mb(20px);
        @include w(100%);

        @media screen and (min-width: $screen-sm) {
            @include grid-columns(4);
            @include mb(30px);
            

            
        }
        @media screen and (min-width: $screen-md) {
            @include w($screen-md);
            
        }

    }
    .ListeQuiz_Filter2{
        @include grid-columns(3);
            justify-items: center;
            row-gap: 10px;
            @include w(100%);
            @media screen and (min-width: $screen-sm) {
                @include grid-columns(5);    
            }
            @media screen and (min-width: $screen-md) {
                @include grid-columns(8);        
            }
            @media screen and (min-width: $screen-lg) {
                @include w($screen-lg);
            }
        span{
            @include w(100px);
            @media screen and (min-width: $screen-sm) {
                @include w(110px);    
                
            }
        }

    }
    .ListeQuiz_Container{
        @include grid-columns(1);
        justify-items: center;
        row-gap: 20px;
        @include w(100%);
        @include mt(30px);
        @include mb(30px);
        @media screen and (min-width: $screen-sm) {
            @include grid-columns(2);
        }
        @media screen and (min-width: $screen-md) {
            @include grid-columns(3);
        }
        @media screen and (min-width: $screen-xl) {
            @include grid-columns(4);
        }
        @media screen and (min-width: $screen-xxxl) {
            @include w($screen-xxxl);
        }

    }
   
}


