.Variables {}


$component:#1F2937;
$bg:#141826;
$white:#ffffff;
$gray:#8896AB;
$gray-hover:#6B778C;
$purpel:#556BDA;
$purpel_2:#4F46E5;
$purpel_opacity:#4e46e543;
$black:#000000;
$red-hover:#ff0000;
$red: #ad0d0d;

$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1280px;
$screen-xl: 1440px;
$screen-xxl: 1600px;
$screen-xxxl: 1800px;
$screen-xxxxl: 1920px;
