@import '../../../variables/Variables/Variables.module.scss';

.Testprogress {
    .Testprogress__content{
        background-color: $bg;
        .Testprogress__progress{
            background:$purpel;
            color: $white;

        }
    }
}