


@import '../../variables/Variables/Variables.module.scss';
.NavBar {
    background-color: $component !important;
    

    a{
        color: $white;
        
    }
    .NavBar__profil{
    

        a{
             color: $black;
        }
    }
  
    h3{
        color: $white;
    }

    button{
        color: white;
    }
  
}

