@import '../../../mixins/Mixins/Mixins.module.scss';
@import '../../../variables/Variables/Variables.module.scss';


.RestrictionQuiz {
    @include D-Flex-Center-Colums;
    .RestrictionQuiz_Container{
        @include mt(30px);
        @media (min-width: $screen-sm) {
            @include w($screen-sm);
        }
        
        
        
        @include grid-columns(1);
        @media (min-width: $screen-sm) {
            @include grid-columns(2);
        }
        justify-items: center;

        .Container_Title{
            p{
                color: $white;
                font-weight: bold;
            }
        }
        .Container_Left{
            background-color: $component;
            border: 3px solid $purpel;
            border-radius: 13px;
            @include w(330px);
            @include h(282px);
            overflow-y: scroll;
            
            @include grid-columns(1);
            justify-items: center;
            gap: 10px;
            padding: 5px;
            @include mb(20px);

           




        }
        .Container_Left::-webkit-scrollbar-track{
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                background-color: invisible;
    
        }
        .Container_Left::-webkit-scrollbar{
            width: 5px;
            background-color: invisible;
        }
        .Container_Left p::-webkit-scrollbar-thumb{
            border-radius: 10px;
            background-color: rgb(98, 98, 98);
            
        }
        .Container_Right{
           @extend .Container_Left;

        }
    }
    .RestrictionQuiz_Container_Button{
        @include grid-columns(1);
        justify-items: center;
        @media (min-width: $screen-sm) {
            @include grid-columns(2);
            @include w($screen-sm);
        }
        button{
            @include mt(15px);
            @include mb(15px);
        }
        .Button_Valider{
            @media (min-width: $screen-sm) {
                grid-column: 2;
            }
        }
        .Button_Retour{
            @media (min-width: $screen-sm) {
                grid-row: 1;
                grid-column: 1;
            }
        }

    }
}