@import '../../../variables/Variables/Variables.module.scss';
@import '../../../mixins/Mixins/Mixins.module.scss';

.CoursCard {
    @include w(320px);
    @include h(420px);
    @include raduis(10px);
    background-color: $component;
    .CoursCard_Header{
        object-fit: cover;
       
        img{
            @include raduis(10px 10px 0px 0px);
            @include w(100%);
            @include h(200px);
        }
    }
    .CoursCard_Body{
        @include h(133px);
        @include p(10px);
        h3{
            color: $white;
            font-weight: bold;
            @include fz(120%);
            @include mt(20px);

        }
    }
    .CoursCard_Footer{
        .Footer_Container_Flex{
            @include ml(10px);
            @include mr(10px);
            @include D-Flex-SpaceBetween;
            @include mt(30px);
            .Footer_Content_Right{
                @include D-Flex-Align;
                .Footer_Right_Avatar{
                    @include mr(10px)
                }
                .Footer_Right_IdentityAndDate{
                    h4{
                        color: $white;
                        font-weight: bold;
                    }
                    p{
                        color: $gray;
                        @include fz(80%);
                    }
                }
            }
            .Footer_Content_Left{
                @include mt(10px)
            }
        }
    }
}