@import '../../../variables/Variables/Variables.module.scss';

.ButtonDefaultLogoRigth {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   width: 300px;
   padding: 10px;
   align-items: center;
   background-color: $purpel;
   border-radius: 5px;
   


   a{
    grid-column: 2;
    display: flex;
    justify-content: center;
    color: $white;
   }
   p{
    grid-column: 3;
    display: flex;
    justify-content: end;
   

   }
    
}